.login-page {
  align-items: center;
  justify-content: center;
  @include respond(phone) {
      height: 100vh;
  }
  .card {
    padding: 6rem;
    width: 30%;
    height: 50%;
    @include respond(phone) {
        width: 90%;
        height: 70%;
    }
  }

  form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    h3 {
        margin: 1.5rem;
        font-weight: normal;
    }

    .form-group {
        width: 100%;

        button {
            width: 100%;
        }
    }
  }
}
