// COLORS
$color-primary: #277F31;
$color-primary-light: #8d8d1c;
$color-primary-dark: #206728;
$color-secondary-light: #fea605;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #979898;
$color-grey-dark-1: #313437;
$color-grey-dark-2: #2c2e2f;
$color-white: #fff;
$color-black: #3e3f3f;
;
// FONT
$default-font-size: 1.6rem;
$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;
$regular-font: "Anodina-Regular";
$light-font: "Anodina-Light";
$extra-light-font: "Anodina-ExtraLight";
$extra-bold-font: "Anodina-ExtraBold";
$bold-font: "Anodina-Bold";
$icon-arrow-back: "\e904";
$icon-notifications: "\e905";
$icon-delete: "\e906";
$icon-assign: "\e907";
$icon-caret-down: "\e908";
$icon-edit: "\e909";
$icon-search: "\e90a";
$icon-user: "\e90b";
$icon-battery: "\e900";
$icon-home: "\e901";
$icon-temperature: "\e902";
$icon-settings: "\e903";
// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;