.card {
    // background: linear-gradient(-45deg, #5555FF, #9787FF);
    background-color: #fff;
    box-shadow: -11px 9px 21px rgba(173, 182, 217, 0.170884);
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    #dayCanvas,
    #weekCanvas,
    #monthCanvas {
        width: 100%;
        position: relative;
        z-index: 9;
    }
    .info {
        float: left;
        padding: 10px 30px 10px 0;
    }
    p {
        font-size: 11px;
        color: #aaa;
        font-weight: 300;
    }

    .card-inner {
        padding: 3rem;
    }
}

.legends {
    padding-top: 20px;
    overflow: hidden;
}

.legend {
    display: block;
    width: 8px;
    height: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50%;
}

.legend--this {
    background-color: #5555FF;
}

.legend--prev {
    background-color: #FF55B8;
}

.axis {
    position: absolute;
    color: $color-black;
    z-index: 1;
    text-transform: uppercase;
    display: flex;
    width: 100%;
    bottom: 0;
}

.axis .tick {
    flex: 1;
    position: relative;
    font-size: 11px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.axis .tick::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    width: 1px;
    height: 200px;
    background: $color-grey-light-2;
}

.axis .tick .value {
    transform: translateY(-240px);
    opacity: 0;
    transition: all 0.3s;
    position: absolute;
    top: 20px;
    left: 0;
    color: $color-black;
    border-radius: 2px;
    width: 100%;
    line-height: 20px;
}

.axis .tick:hover .value {
    transform: translateY(-160px);
    display: block;
    opacity: 0.4;
}

.value {
    color: $color-black;
    font-weight: bold;
}

.day-number,
.week-number {
    display: block;
}

.day-name,
.week-name,
.month-name {
    display: block;
    opacity: 0.4;
}


/* Animated background, credits: Manuel Pinto, https://codepen.io/P1N2O/pen/pyBNzX */

// .card {
//     background: linear-gradient(-45deg, #5555FF, #9787FF, #FF55B8, #FF8787);
//     background-size: 400% 400%;
//     animation: bg 20s infinite;
// }
@keyframes bg {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}