[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
  &:before,
  &:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  &:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 0.5rem;
    margin-left: -8rem;
    padding: 0.7rem;
    width: 16rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    border-radius: 0.3rem;
    background-color: $color-primary-dark;
    color: $color-white;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.2;
  }
  &:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -.5rem;
    width: 0;
    border-top: .5rem solid $color-primary-dark;;
    border-right: .5rem solid transparent;
    border-left: .5rem solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }

  &:hover {
      &:before, &:after {
        visibility: visible;
        opacity: 1;
      }
  }
}
